body {
    color: black;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 30px;
  }
  
  nav ul li a {
    text-decoration: underline;
    font-weight: bold;
  }
  
  .book-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
  }
  
  .book {
    padding: 15px;
    margin: 20px;
    width: 200px;
    text-align: center;
  }

  .book h2 {
    font-size: 20px;
    padding-top: 15px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
  }
  
  .col {
    height: 400px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .genre-container {
    height: 410px;
    width: 1200px;
    padding: 2px;
    margin: 12px auto;
    overflow: scroll;
    border: 3px solid grey;
    display: flex;
  }

  .genre-container h3 {
    display: flex;
    height: 70px;
    width: 400px;
    transform: rotate(270deg); /* Rotates the text 90 degrees */
    align-self: center;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid grey;
    font-size: 50px;
  }